*.iml
.gradle
/local.properties
/.idea
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
/node_modules
/npm-debug.log*
__pycache__
venv
/MANIFEST
/manifest.json
/site
/dist
/mkdocs_material.egg-info
.vscode
app-ios-swift/app-ios-swift.xcworkspace/*
app-ios-swift/app-ios-swift.xcodeproj/*
!app-ios-swift/app-ios-swift.xcodeproj/project.pbxproj
